.greeter {
	position: absolute;
	top: 10%;
	left: 10%;
	right: 10%;
	bottom: 10%;
	background: #00bcd4;
	border-radius: 2em;
	box-shadow: 0 0 20px 10px #bdbdbd;
	padding: 2% 15%;
	text-align: center;
	transition: 500ms ease-in-out;
	opacity: 1;

	& > h1 {
		color: #ffffff;
		font-size: 62px;
		letter-spacing: 5px;
		font-weight: bold;
	}

	& > img {
		max-width: 40%;
		max-height: 40%;
		margin: auto;
		margin-bottom: 2em;
	}

	& > p {
		color: #ffffff;
		font-size: 24px;
		font-weight: lighter;
	}

	&__close {
		top: -30%;
		left: -30%;
		right: -30%;
		bottom: -30%;
		transform: scale(2);
		filter: blur(50px);
		opacity: 0;
	}
}
